In [2]:
# initial imports
import pandas as pd
from path import Path

ModuleNotFoundError: No module named 'path'

In [2]:
# Load data
file_path = Path("../Resources/loans_data_encoded.csv")
encoded_df = pd.read_csv(file_path)
encoded_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

## Scaling Data

In [1]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()